#container{
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  height: 80px;
}

.tab{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    display: block;
    margin: auto;
    transition: 200ms ease-in-out;
  }
  transition: 200ms ease-in-out;
}

.seleccionado{
  background-color: rgba(180, 0, 159, 0.231); ;
}
