div{
  width: 100%;
  min-height: 150px;
  display: flex;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: flex-end;
  border-radius: 10px;
}

h3{
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.86);
}
