<section>
<form #buscarForm="ngForm" (change)="buscar()"productos>
  <div id="barra-busqueda">
    <img src="./../../../assets/icons/lupa.svg" alt="Lupa">
    <input type="text" name="texto" [(ngModel)]="parametrosBusqueda.texto" #texto="ngModel">
  </div>
  <div id="filtros-container">
    <div class="apto-container">
      <img src="./../../../assets/icons/celiaco.png" alt="Apto celíaco">
      <input type="checkbox" name="celiaco" id="celiaco" [(ngModel)]="parametrosBusqueda.aptoCeliaco" #celiaco="ngModel">
      <span>Apto celíaco</span>
    </div>
    <div class="apto-container">
      <img src="./../../../assets/icons/vegano.svg" alt="Apto vegano">
      <input type="checkbox" name="vegano" id="vegano" [(ngModel)]="parametrosBusqueda.aptoVegano" #vegano="ngModel">
    <span>Apto vegano</span>
  </div>
</div>
</form>
<div id="contenedor-productos" *ngIf="productos().length !== 0; else sinResultado">
  <app-tarjeta-producto
  *ngFor="let producto of productos()"
  [producto]="producto"
  [routerLink]="['/articulo',producto.id]"
  >
</app-tarjeta-producto>
</div>
<ng-template #sinResultado>
  <h2>Tu búsqueda no arrojó ningun resultado</h2>
</ng-template>
</section>
