@use "./../../../assets/styles/variables.scss";

#tarjetas-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.tarjeta-producto-container{
  position: relative;
  display: flex;
  height: 100px;
  background-color: variables.$color-principal-claro;
  > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
}

#izq{
  width: 35%;
  background-color: bisque;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  > div{
    position: absolute;
    bottom: 8px;
    left: 8px;
    img{
      height: 20px;
      background-color: variables.$color-sello-comida;
      border-radius: 50%;
    }
  }
}

#centro{
  width: 55%;
}

#der{
  width: 10%;
  align-items: flex-end;
}

#borrar{
  background-color: unset;
  border: unset;
  cursor: pointer;
  padding: 0;
}

#mas{
  font-size: xx-large;
  text-decoration: none;
  color: black;
  background-color: variables.$color-principal-claro;
  padding: 15px 30px;
  border-radius: 10px;
}

#informacion{
  font-size: larger;
}

#envios-container{
  background-color: variables.$color-principal-claro;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  align-items: center;
  h4{
    font-size: larger;
  }
}

#montos{
  text-align: end;
}

#totales > div {
  display: flex;
  flex-direction: column;
  gap:5px;
}

#enviar{
  display: block;
  width: 100%;
  margin-top: 20px;
  font-size: larger;
  background-color: variables.$color-principal;
  border: unset;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
}
