$color-principal : #e8b0e1;
$color-principal-claro : #f7e5f5;

$color-sello-comida : rgb(182, 255, 180);

$border-radius-chico: 5px;
$border-radius-mediano: 15px;
$border-radius-grande: 25px;

$color-texto: black;
$color-texto-claro: rgb(84, 84, 84);
