<img
  id="fotoProducto"
  src="{{ producto?.fotoUrl }}"
  alt="{{ producto?.nombre }}"
/>
<section class="margen-chico">
  <ul>
    <span>Ingredientes: </span>
    @for (ingrediente of producto?.ingredientes; track ingrediente) {
    <li>{{ ingrediente }}</li>
    }
  </ul>
  <div>
    @if (producto?.esCeliaco) {
    <div class="apto-container">
      <img
        class="apto"
        src="./../../../assets/icons/celiaco.png"
        alt="Apto celíaco"
      />
      <p>Apto celíaco</p>
    </div>
    } @if (producto?.esVegano) {
    <div class="apto-container">
      <img
        class="apto"
        src="./../../../assets/icons/vegano.svg"
        alt="Apto vegano"
      />
      <p>Apto vegano</p>
    </div>
    }
  </div>
  <label for="notas">Notas:</label>
  <textarea
    name="notas"
    id="notas"
    cols="30"
    rows="10"
    [(ngModel)]="notas"
  ></textarea>
  <div id="cantidad-container">
    <label for="cantidad">Cantidad:</label>
    <app-contador-cantidad
      (cantidadCambiada)="cantidad.set($event)"
    ></app-contador-cantidad>
  </div>
  <button (click)="agregarAlCarrito()">Agregar al carrito</button>
</section>
